@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto&display=swap');

body {
    background-color: white;
    margin: 0 auto;
   }

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(170, 0, 0);
  }

.nav-item {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    text-align: center;
  }

.nav-item:hover {
    color: rgba(255, 255, 255, 0.75);
}

nav img {
    height: 100px;
    width: auto;
}

nav ul {
    position: absolute;
    padding: 5px 20px;
    display: none;
    z-index: 1;
}

nav-icon {
    position: absolute;
    width: 40px;
    margin: 5px;
    z-index: 1;
}

.current {
    text-decoration: underline double;
}

.flex-content {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.flex-item {
    margin: 30px;
    flex-grow: 1;
}

footer {
    background-color: rgb(170, 0, 0);
    height: 67px;
    margin: 0px;
}

.footer img{
    width: 25px;
    margin: 10px 10px 0px 10px;
}

.footer p{
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    font-size: 9px;
    color: white;
    font-weight: lighter;
}

.footer{
    text-align: center;
}

  /*MEDIUM SIZE SCREENS*/
@media(min-width:800px) {
    nav {
        flex-direction: row;
        padding-bottom: 15px;
    }

    nav img {
       width: 10%;
       height: auto;
    }

    .nav-item:nth-child(1) {
        order: 3;
    }

    .nav-item:nth-child(2) {
        order: 1;
    }

    .nav-item:nth-child(3) {
        order: 2;
    }

    .nav-item:nth-child(4) {
        order: 4;
    }

    .nav-item:nth-child(5) {
        order: 5;
    }
}