@import "colors.css";
@import url(layout.css);

body {
    margin: 0px;
}

header {
    background-color:lavender;
}

.header {
    padding: 5px;
    text-align: center;
    background: rgb(255, 255, 244);
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
}

header input#toggler {
    display: none;
}

header label img {
    width: 30px;
    height: auto;
    margin: 10px 20px;
}

nav {
    padding: 5px;
    display: none;
}

input#toggler:checked + nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin:0px;
}

nav li {
    border-bottom: 1px solid;
    color: grey;
    padding: 10px;
    margin: 10px;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: grey;
    text-transform: lowercase;
}

h2 {
    margin: 5px;
    font-family: serif;
    color: grey;
    background-color: rgb(255, 255, 244);
}

h3 {
    font-family: serif;
    color: grey;
    font-weight: 100;
    text-align: center;
    padding-top: 5px;
}

p {
    font-family: serif;
    color: grey;
    margin: 20px;
}

li a:hover {
    background-color:gray;
    color:lavender;
}

img {
    max-width: 100%;
    height: auto;
}



.width-small-20 {
    width: 20%;
}

@media(min-width: 540px){
    
    header label {
        display: none;
    }

    nav,
    input#toggler+nav {
        display: block;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }
    nav ul {
        text-align: center;
    }
    nav {
        display: block;
        padding: 10px;
    }
    }