@import url("colors.css");

body {
    margin: 0px;
}

header {
    background-color:lavender;
}

header input#toggler {
    display: none;
}

header label img {
    width: 30px;
    height: auto;
    margin: 10px 20px;
}

nav {
    padding: 10px;
    display: none;
}

input#toggler:checked + nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin:0px;
}

nav li {
    border-bottom: 1px solid;
    color: grey;
    padding: 10px;
    margin: 10px;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: grey;
    text-transform: lowercase;
}

li a:hover {
    background-color:gray;
    color:lavender;
}

/*----------MAIN-----------*/

.floater-section {
    float: left;
    max-height: 300px;
    width: 100%;
}

.container::after {
    clear: both;
    content: "";
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.width-all-20 {
    width: 20%;
}

@media(min-width: 540px){
    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }
    nav ul {
        text-align: center;
    }
    nav {
        padding: 10px;
    }


    /* Main */

    .width-md-50 {
        width: 50%;
    }

    .width-md-33 {
        width: 33%;
    }
}

@media (min-width: 800px) {

    .width-lg-25 {
        width: 25%;
    }
    .width-lg-33 {
        width: 33%;
    }
    .width-lg-50 {
        width: 50%;
    }
    .width-lg-100 {
        width: 100%
    }    
}