.purple {
    background-color: transparent;
}

.red {
    background-color: rgb(255, 216, 209);
}

.yellow {
    background-color: rgb(255, 255, 209);
}

.green {
    background-color: rgb(210, 255, 200);
}

.blue {
    background-color: rgb(212, 212, 255);
}

.charcoal {
    background-color:  rgb(73, 73, 73);
}

.black {
    background-color: black;
}

.transparent {
    background-color: transparent;
}