@import "colors.css";
@import url(layout.css);
@import url(navbar.css);

/*multi-line vertical alignment*/
.content-table {
    display: table;
    height: 120px;
}

.content-table p {
    display: table-cell;
    vertical-align: middle;
}

/*block element with no height*/
.pos-relative {
    position: relative;
}


/*with unknown height*/
.v-centered-block {
    height: 120px;
    top: 30%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

/*block element v and h centered - known height/width*/
.v-h-centered-block {
    height: 120px;
    width: 100%x;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-top: 10px;
    margin-left: -100px;
}